
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	flex-direction:row;
	width:500px;
}
.one{
	width:150px;
	padding:10px;
	background:blue;
	color:white;
}